* {
    border: 1px transparent solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    border-radius: 10px;
}
/*Link specs*/
a {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}
ul a {
    background-color: #f76f8e;
    border-radius: 10px;
    padding: .5em 1em;
}
a:hover, h5:hover, .button:hover, h4.button:hover, input[type=submit]:hover {
    background-color: #555;
    color: whitesmoke;
}
footer a:hover, main a:hover {
    background-color: transparent;
    color: black;
}
a:active, input[type=submit]:active {
    color: black;
    background-color: rgb(45, 66, 66);
}
a:visited {
    color: whitesmoke;
}
#current {
    background-color: #bb3151;
    color: white;
}
/*Header*/
body {
    margin: 1.5em;
}

header {
    box-sizing: border-box;
    margin: 0em 0 1em 0;
    padding: 1em -1em 0em -1em;
    border-radius: 10px;
    background: transparent url("images/cloudssvg2-01.svg") no-repeat;
    background-position-x: center;
    background-size: 120vw;
   
}
h1 {
    color: azure;
    text-align: center;
    font-size:3.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    color: black;
    font-size: 1em;
}
/*NAVIGATION*/

#topnav {
    margin-top: -0.5em;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
 }
    
 #topnav li {
        width: auto;
         
         display: flex;
         
         
         text-align: center;
         margin: 0 1vw;
         
         font-size: 1em;
 }

body {
    background-color: #ffead0;
}
/* ABOUT SECTION */

#about {
    
    margin: 2em 0;
    
    
    border-radius: 20px;
    background-color: #f7d5ab;
    
}
#roles, #me {
    
    margin: 0em 2em;
    padding: 1em;
    align-self: center;
}
#para, #para1, #para2 {
    text-align: left;
}
h2 { 
    font-size: 2.5em;
    color: #bb3151;
    text-align: center;
}
h3 {
    color: #bb3151 ;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
}
.button {
    padding:  1em;
    margin: 0 0 0 0;
    background-color: #bb3151;
    border-radius: 12px;
}
#portfolio  {
    
    margin: 2em 0;
    
    
    border-radius: 10px;
    
}
#portfolio img {
    
    width: 75%;
    margin:  0em 2em 0em 2em;
    padding: 1em;
    align-self: center;
    border-radius: 10px;
    
    
}
#portfolio, footer {
    background-color: #5c946e;
    border-radius: 30px;
}
#portpara {
    align-self: center;
    margin: 0em 2em;
    padding: 1em;
}

/*FORM */
#contact {
    margin: -5em 0em 1em 0em;
    
    
    
}
#contact {
    text-align: center;
}


form {
    background-color: #f7d5ab;
    padding: 1em 5em;
    border-radius: 30px;
    margin-bottom: 1em;
}
input, textarea {padding: 0.5em;
    margin: .5em 0em;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
input[type=submit] {
    background-color: #bb3151;
    color: white;
    margin: 0em 1em;
    font-variant: small-caps;
}
footer {
    font-variant: small-caps;
    font-variant-numeric: oldstyle-nums;
    font-size: smaller;
   margin: auto;
    text-align: center;
    justify-content: center;

}
#footer-nav, footer h4, footer p {margin-left: 5em;}
footer a {
   
    margin: 1em;
    
}

footer img {
    border-radius: 0px;
   
}
h5 {float: right;
    border-radius: 50%;
    font-size: smaller;
    text-align: center;
    justify-content: center;
    line-height: 2.2em;
     background-color: #bb3151;
     width: 5em;
     height: 5em;
     padding: 1em 1.2em 1em 1em ;
     margin-right: 1em;
     margin-top: 2.5em;
     
 }
#portfolio-full {
    align-content: center;


}
#portfolio-full img {width: 100%;
}

.aboutmetitle {
    text-align: left;
margin-top: .5em;}
#mybackground {
    font-size: .9em;
    line-height: 1.5em;
}

#float {width:80vw;
margin: auto;}

.pypro {
    
    border-radius: 10px;
    margin:2em 0;
    padding-bottom: 3em;
    background-color: #f7d5ab;
    text-align: center;
   
    
}
.pypro p {
    font-size: 1.3em;
    font-weight: 200;
    text-align: center;
    
}

.pypro img {width: 80vw;
    margin: 1em;
}

.makelarger {
    font-size: 1.5em;
}

#forhidden{
   color: whitesmoke;
}
#message {
    padding-bottom: 15vh;
    margin-bottom: 5vh;
}
#star {
    width: 120vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -10vh;
}
 @media  screen and (min-width: 768px) {
   
    #about {
        display: flex;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: smaller;
        
    }
     #me {width: 50vw;
    margin: 0 3vw ;
    
        }
    #roles {width: 60vw;
    margin: 0 5vw;}
    
    #me img {margin: 2vw 6vw 5vw 6vw;
            width: 30vw;}
 
   
    #portfolio-full {display: flex;
        flex: wrap;
        align-content: center;
        grid-row: inherit;}
        
        #portfolio-full img {width: 28.3vw;
            margin: 1.5em;}

    footer a {margin: 4em;
    }
    #mybackground {
        font-size: 1em;
        line-height: normal;
        
    }
    #float {
        float: right;
        width: 20vw;
       margin: 1em;
    }
    #blank {clear: right;
    }

#pythongrid {
        display:grid;
        grid-template-columns:  repeat(4, 19vw);
        grid-template-rows: repeat(2, 40vh);
        grid-template-areas: 
        "one two three four" "five six seven eight" ;
        
        grid-gap: 6vw 2vw;
        width: 90vw;
        align-items: center;
        justify-content: space-between;
    }
    .pypro {width: 19vw;
        margin: 5.5em 1em;
       
        padding: 0 0 2vw 0em;
        text-align: center;
        
        
       
    }
    .pypro p {
        padding-top: -5vh;
    }
    .pypro .button {
        font-size: .8vw;
        padding: .8vw;
    }
    .pypro img {width: 16vw;
    }
    
    #pro1 {grid-area: one;
    ; }
    #pro2 {grid-area: two;}
    #pro3 {grid-area: three;}
    #pro4 {grid-area: four;}
    #pro5 {grid-area: five;}
    #pro6 {grid-area:six;}
    #pro7{grid-area: seven;}
    #pro8{grid-area: eight;}


   #star {
       width: 50vw;
       margin-left: auto;
       margin-right: auto;
   }
    
 }
@media  screen and (min-width:850px) {  
    #portfolio {display: flex;
    padding: 1em; }

#porfolio col {
   display: flex;
   width: 325%;
   padding: 2em 4em;
}
#portfolio img {
   width: 80%;
   margin: 1em
   }
form legend {
    color: #bb3151;
    font-weight: bolder;
    font-size:2em;
    position:  relative;
    top: 20vh;
    left: .7vw;
    text-align: left;
}
}
 @media screen and (min-width: 1000px) {
    #about {
        display: flex;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: medium;
        
    }
    #roles , #me {width: 50vw;
    margin: 0 5vw ;
    
        }
    
    
    #me img {
        margin: 2em 1em 5em 5em;
            width: 30vw;
        }
}